"*":
  core:
    disabledPackages: [
      "line-ending-converter"
      "logo-file-icons"
      "seti-icons"
    ]
    themes: [
      "one-dark-ui"
      "earthsung-by-jackson-syntax"
    ]
  "exception-reporting":
    userId: "fe40d6f8-7482-d700-820d-aabce88f366a"
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  welcome:
    showOnStartup: false
